.product-listing-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.listing-container{
    padding-top: 4rem ;
    display: flex;
    justify-content: space-between;
}
.product-listing-card{
    border: 1px solid #aaa;
    width:100%;
    border-radius: 10px;
    padding: 2rem 2rem;
    margin: 0 1rem;

}
.product-listing-img-container{
    width: 100%;
    height: 15rem;
    text-align: center;
}
.product-listing-image{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.product-listing-details-container{
 padding-top: 2rem;
 min-height: 12rem;
 font-family: Chivo Mono;
}
.product-listing-details-container h3{
    padding-bottom: 1rem;
    font-size: 1.4rem;
}
.author-name{
    font-weight: 500;
    font-size: 1.2rem !important;
    padding-bottom: 1rem;
}
.pricing{
    font-size: 1.3rem;
    font-weight: 800 !important;
    color:green;
}
.product-listing-button{
    display: inline-block;
    background-color: rgb(247, 177, 47);
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
    font-family: Chivo Mono;
    text-decoration: none;
    margin-top: 1rem;
    transition: 0.2s ease-in;
}
.product-listing-button:hover{
    background-color: orange;
}
